<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/mygoals.css">
</head>
<section class = "goalbody">
<h1>Your Goals for the week</h1>


<h2>Total Saving Goal for the week = <%= gaddall %></h2>

<% goals.forEach(function(goal) {%>

      <h2></h2>Amount to save : <%= goal.amount %> </h2>
      <h2>Saving for : <%= goal.for %></h2>
      <a href = "/editgoal/<%= goal._id %>" > <button  onclick="openForm()"> <a href="#popup1">Edit</a></button></a>
      <a href = "/deletegoal/<%= goal._id %>" ><button position="right">Delete</button></a>
    </div>
      


<% }) %>


<div class="box">
<button  onclick="openForm()"> <a href="#popup1">Set a New Goal</a></button>
</div>
<div id="popup1" class="overlay">
  <div class="popup">.
    <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5" >
          <div class="card-body">
             
            <h5 class="card-title text-center">New Goal</h5>
            <form class="form-signin" method = "post" action = "/savegoal">

              <div class="form-label-group">
                  <input type="text" name = "amount" id="inputPassword" class="form-control" placeholder="Rs." required>
                  <label for="inputPassword">Goal Amount</label>
                </div>
                
                <div class="form-label-group">
                <input type="text" name = "for" id="inputEmail" class="form-control" placeholder="Ex: Car" required autofocus>
                <label for="inputEmail">What do you wanna save for? </label>
              </div>

              
 
              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" onclick="closeForm()">Set</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</div>
</div>
</section>
<script type="text/javascript">
  function closeForm(){
    document.getElementById("popup1").style.display = "none";
  }
  function openForm(){
    document.getElementById("popup1").style.display = "block";
  }
</script>