<html>
    <head><title>saving</title></head>
    <link href="/stylesheets/saving.css" rel="stylesheet">
    <body class="color" background="/images/goal.png">
            <br>
            <br>
            <br>
            <br>
            <br>

        <div class="mainblock">
        <a class="closemain" href="/home">&times;</a>
        <div class="goalwas">
            <h2>Your Goal was to save <b>Rs. <%= gaddall %></b></h2>
            <!-- <input type="text" class="input1"> </input> -->
            <br>
            <br>
            <br>
        </div>
        <div class="amountsaved">
                <br>
            <h2> <% if(sav < 0){ %>
                You Have Saved <b>no money.</b> <br>You are spending more than your income.<br>You are only short of Rs. <%= shortOf %>  to reach your goal.</h2>
            
            <!-- <input type="text" class="input1"> </input> -->
            <%
            } else if(sav > 0) { %>
                <h2>You Have Saved <b>Rs. <%= val %></b></h2>
                <% } %>

                
            <br>
            <br>
            <br>
        </div>
       
            <div class="box">

               
                    <a class="button" href="#popup1">ok</a>
                </div>
                <div class="box">
                    <a href = "/notify" class="button" >Mail me the details</a>
                </div>
                <% if(sav>=gaddall){ %>

                <div id="popup1" class="overlay">
                    <div class="popup">
                        <h2>Congratulations, Your monthly Goal was met</h2>
                        <a class="close" href="#">&times;</a>
                        <div class="content">
                                
                            </div>
                    </div>
                </div>
                <% } 
                else if(sav<=gaddall) {%>
                    <div id="popup1" class="overlay">
                            <div class="popup">
                                <h2>Your monthly Goal was not met</h2>
                                <h2>You are only short of Rs. <%= shortOf %>  to reach your goal.</h2>
                                <a class="close" href="#">&times;</a>
                                <div class="content">
                                        
                                    </div>
                            </div>
                        </div>

                    <% }%>
                    <div id="popup2" class="overlay">
                        <div class="popup">
                            <h2><%= notification %></h2>
                            <a class="close" href="#">&times;</a>
                            <div class="content">
                                    
                                </div>
                        </div>
                    </div>
                    
        </div>
    </body>

</html>